* {
    margin: 0;
    padding: 0;
}

    img {
        display: block;
        max-width: 100%;
    }

    li {
        list-style: none;
    }

    body {
        font-family: 'Merriweather', serif;
        
        background-image: url(../imagens/papeldeparede.png);
        background-attachment: fixed;
        background-size: cover;
        display: grid;
        align-items: center;
        justify-items: center;
        height: 100vh;
        color: rgba(3, 1, 10, 0.857);
      
    }
    .title {
        font-size: 25px;
        font-weight: normal;
       
    }

    .profile-box {
        background: #eee;
        padding: 3rem;
        box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.16);
        border-radius: 50px;
        text-align: center;
        
    }

    .profile-pic {
        border-radius: 50%;
        margin-bottom: 2rem;
        margin-left: auto;
        margin-right: auto;
        width: 9em

    }
    .profile-span {

        font-size: 15px;
        line-height: normal;
        
    }
    .profile-box p {

        font-size: 15px;
        line-height: normal;
      
        
    }

    .redes-sociais {
        display: flex;
        justify-content: center;
        

    }

    .redes-sociais li {
        margin-right: 1rem;
        margin-top: 3rem;
     

    }